* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
    font-family: Open Sans;
}

.container {
    width: 78%;
    margin: 0 auto;
}

.header {
    display: inline-block;
    width: 1400px;
    padding-top: 100px;
    text-align: center;
}

.title {
    margin-bottom: 25px;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 36px;
    font-style: normal;
    line-height: 42px;
    font-weight: normal;
    color: #212121;
}

.line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    border: 0;
    background-color: #E72424;
}

.subtitle {
    margin-bottom: 36px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #86878B;
}

.main {
    display: inline-block;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 89px;
    text-align: center;
}

.card {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    margin: 0 auto;
}

.card-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    color: #333333;
}

.card-text {
    padding-bottom: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #000000;
}

.card-img {
    height: 30px;
    width: 23px;
    margin: 20px 23px 20px 24px;
    background: url("../assets/lamp image.png") no-repeat center;
}

.keypad-img {
    height: 26px;
    width: 37px;
    margin: 22px 16px 22px 17px;
    background: url("../assets/keypad image.png") no-repeat center;
}

.flash-img {
    height: 33px;
    width: 21px;
    margin: 21px 26px 18px 25px;
    background: url("../assets/flash image.png") no-repeat center;
}

.border-img {
    height: 74px;
    width: 74px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: #E72424 2px solid;
    border-radius: 50%;
}

.design {
    width: 1400px;
    height: 325px;
    padding-top: 75px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../assets/city.png) no-repeat center;
}

.design-title {
    margin-bottom: 48px;
    font-family: Raleway;
    font-size: 36px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    color: #FFFFFF;
}

.design-line {
    width: 64px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border: 0;
}

.design-subtitle {
    margin-bottom: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.download {
    width: 135px;
    height: 42px;
    padding: 11px 26px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    outline: none;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.footer {
    width: 1400px;
    padding-top: 30px;
    text-align: center;
    background: #000;
}

.year {
    padding-bottom: 15px;
    margin-top: 18px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.networks {
    display: inline-block;
    height: 23px;
    width: 317px;
    align-items: center;
}

.links {
    display: inline-block;
    height: 23px;
    width: 30px;
    margin-right: 10px;
    background: url(../assets/network.png) no-repeat center;
}

.facebook {
    background-position: 8px;
}

.twitter {
    background-position: -40px;
}

.google {
    background-position: -90px;
}

.pinterest {
    background-position: -138px;
}

.instagram {
    background-position: -188px;
}

.stumble-upon {
    background-position: -242px;
}

.wifi {
    background-position: -293px;
}