* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
    font-family: Open Sans;
    /* background-color: red; */
}

.container {
    width: 78%;
    margin: 0 auto;
    /* background-color: blue; */
}

.header {
    display: inline-block;
    width: 1400px;
    padding-top: 100px;
    text-align: center;
    /* background-color: red; */
}

.title {
    margin-bottom: 25px;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    line-height: 42px;
    font-weight: normal;
    color: #212121;
    /* background-color: green; */
}

.line {
    width: 64px;
    height: 2px;
    border: 0;
    margin: 0 auto;
    margin: 0 auto 30px;
    background-color: #E72424;
    /* background-color: purple; */
}

.subtitle {
    margin-bottom: 36px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #86878B;
    /* background-color: yellow; */
}

.main {
    display: inline-block;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 89px;
    text-align: center;
    /* background-color: blue; */
}

.card,
.keypad,
.flash {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    margin: 0 auto;
    /* background-color: orange; */
}

.card-title,
.keypad-title,
.flash-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.card-text,
.keypad-text,
.flash-text {
    padding-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    /* background-color: lightgreen; */
}

.card-img {
    height: 30px;
    width: 23px;
    padding: 20px 23px 20px 24px;
    background: url("../assets/lamp image.png") no-repeat center;
}

.keypad-img {
    height: 26px;
    width: 37px;
    padding: 22px 16px 22px 17px;
    background: url("../assets/keypad image.png") no-repeat center;
}

.flash-img {
    height: 33px;
    width: 21px;
    padding: 19px 24px 18px 25px;
    background: url("../assets/flash image.png") no-repeat center;
}

.border-img {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 50%;
    border: #E72424 2px solid;
}

.design {
    width: 1400px;
    height: 250px;
    text-align: center;
    padding-top: 75px;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/assets/city.png) no-repeat center;
}

.design-title {
    margin-bottom: 48px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.design-line {
    width: 64px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #FFFFFF;
}

.design-subtitle {
    margin-bottom: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.download {
    width: 135px;
    height: 42px;
    padding: 11px 26px;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer {
    width: 1400px;
    background: #000;
    padding-top: 30px;
    text-align: center;
}

.year {
    margin-top: 18px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}