body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    display: inline-block;
    width: 1400px;
    height: 250px;
    text-align: center;
}

h1 {
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    line-height: 42px;
    font-weight: normal;
    height: 38px;
    margin-top: 100px;
    margin-bottom: 25px;
}

hr {
    width: 64px;
    height: 2px;
    background-color: #E72424;
    border: 1px solid #E72424;
    margin-top: 0;
    margin-bottom: 30px;
}

.header-desc {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    color: #86878B;
    margin-bottom: 36px;
}

main {
    text-align: center;
    display: inline-block;
    width: 1400px;
    height: 345px;
    padding-top: 31px;
    padding-left: 143px;
    padding-right: 143px;
    padding-bottom: 89px;
}

div {
    display: inline-block;
    width: 350px;
    height: 255px;
    padding-bottom: 109px;
}

.lamp {
    padding: 20px 23px 20px 24px;
    border: solid #E72424 1px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.keypad {
    padding: 22px 17px 22px 18px;
    border: solid #E72424 1px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.flash {
    padding: 19px 24px 18px 25px;
    border: solid #E72424 1px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: black;
    padding-bottom: 0;
}